.expense-tracker .header {
  display: flex;
  align-items: center;
  background-color: black;
}
.expense-tracker .title {
  position: relative;
  top: 0;
}
.expense-tracker h1 {
  font-size: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}
.expense-tracker .totalsBox {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.expense-tracker .totalsBox .totals {
  margin-bottom: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(218, 245, 236);
  width: 400px;
  margin-left: 10px;
  margin: 10px;
  text-align: center;
}
.expense-tracker .totalsBox .totals div {
  padding: 5px;
  border-radius: 20px;
}
.expense-tracker .totalsBox .totals .budgetExpenses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(3, 3, 70);
  color: white;
  width: 390px;
}
.expense-tracker .totalsBox .totals .incomeName {
  color: greenyellow;
}
.expense-tracker .totalsBox .totals .expenseName {
  color: red;
}
.expense-tracker .totalsBox .totals .displayBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.expense-tracker .totalsBox .add-button {
  width: 80px;
  height: 40px;
}
.expense-tracker .card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  margin-left: 10px;
}
.expense-tracker .card-container .ant-card-body {
  padding: 14px;
}
.expense-tracker .card-container .expense-budget-card {
  border: 2px solid;
  padding: 0;
  border-radius: 25px;
}
.expense-tracker .card-container .expense-budget-card .singleCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.expense-tracker .card-container .expense-budget-card .singleCard .firstFlex {
  display: flex;
  flex-direction: row;
  width: 300px;
}
.expense-tracker .card-container .expense-budget-card .singleCard .icon {
  font-size: 34px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense-tracker .card-container .expense-budget-card .singleCard .salary {
  color: rgb(2, 168, 106);
  background-color: rgb(207, 251, 234);
}
.expense-tracker .card-container .expense-budget-card .singleCard .housing {
  color: brown;
  background-color: #ffebcd;
}
.expense-tracker .card-container .expense-budget-card .singleCard .transportation {
  color: rgb(127, 61, 255);
  background-color: rgb(239, 228, 255);
}
.expense-tracker .card-container .expense-budget-card .singleCard .food {
  color: rgb(253, 56, 70);
  background-color: rgb(255, 213, 215);
}
.expense-tracker .card-container .expense-budget-card .singleCard .healthcare {
  color: rgb(27, 181, 233);
  background-color: rgb(232, 248, 252);
}
.expense-tracker .card-container .expense-budget-card .singleCard .personal {
  color: rgb(253, 173, 18);
  background-color: rgb(252, 239, 212);
}
.expense-tracker .card-container .expense-budget-card .singleCard .others {
  color: coral;
  background-color: rgb(253, 239, 234);
}
.expense-tracker .card-container .expense-budget-card .singleCard .categoryName {
  margin-left: 10px;
}
.expense-tracker .card-container .expense-budget-card .singleCard .categoryName,
.expense-tracker .card-container .expense-budget-card .singleCard .categoryInfo {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.expense-tracker .card-container .expense-budget-card .singleCard .categoryInfo {
  display: flex;
  align-items: flex-end;
}
.expense-tracker .card-container .expense-budget-card .singleCard p {
  padding-right: 10px;
  font-size: 18px;
  margin: 0;
  color: rgb(107, 106, 106);
}
.expense-tracker .card-container .expense-budget-card.expenseRow {
  border-color: red;
}
.expense-tracker .card-container .expense-budget-card.expenseRow .amount {
  color: red;
}
.expense-tracker .card-container .expense-budget-card.budgetRow {
  border-color: green;
}
.expense-tracker .card-container .expense-budget-card.budgetRow .amount {
  color: green;
}
.expense-tracker .modal-form {
  padding: 20px;
}
.expense-tracker .modal-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.expense-tracker .modal-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.expense-tracker .modal-form .ant-space {
  margin-bottom: 16px;
}
.expense-tracker .modal-form .ant-space .ant-picker {
  width: 100%;
}
.expense-tracker .modal-form .ant-radio-group {
  margin-bottom: 16px;
}
.expense-tracker .modal-form .ant-btn {
  margin-right: 8px;
}/*# sourceMappingURL=ExpenseTracker.css.map */